# Node.js dependencies
node_modules/

# Build output
build/

# dotenv environment variables file
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE configurations
.vscode/
.idea/

# Mac system files
*.swp

# Coverage directory for testing
coverage/

# TypeScript declaration files (if using TypeScript)
*.d.ts

# package-lock.json, yarn.lock should be included if you want to lock dependencies, otherwise ignore them:
# package-lock.json
# yarn.lock
